html, body { 
  height: 100%;
  font-family: "Noto Sans JP";
 }

.top{
    background-image: url(../img/top.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100%;
}

.top-title{
  font-size: 10vmin;
  text-align: center;
  margin-top: 35vmin;
  font-family: 'Dancing Script', cursive;
}

.navbar{
  background-color: transparent !important;
}

/*-----------------------------------pages-------------------------------*/
.sub-title{
  font-size: 10vmin;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

/*Top*/

/*---------------------------About----------------------------*/
.about img{
  width: 25vmin;
  margin: 5vmin;
}
.photo_info{
  padding: 5vmin;
}


/*-------------------------work--------------------------------*/
.work img{
  width: 20vmin;
}
.gallery{
  margin-top: 60px; 
}
.gallery-top{
  text-align: center;
  font-size: 30px;
  margin-top: 5%;
  padding-bottom: 0; 
}
.gallery figure img {
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.gallery figure:hover img {
	opacity: .5;
}
.service-1 .service{
  position: relative;
  margin-bottom: 50px; 
}

/*---------------------------------contact------------------------------*/
